language: c
script: "cc -ansi -pedantic -Wall -Werror -c json.c"
branches:
  only:
    - master
notifications:
  recipients:
    - jamie@lacewing-project.org
  email:
    on_success: change
    on_failure: always



